@font-face {
	font-family: 'Founders Grotesk Condensed';
	font-weight: 700;
	src: url('../assets/fonts/founders-grotesk-condensed-web-bold.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/founders-grotesk-condensed-web-bold.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('../assets/fonts/founders-grotesk-condensed-web-bold.woff')
			format('woff'); /* Pretty Modern Browsers */
	font-display: swap;
}

@font-face {
	font-family: 'Founders Grotesk';
	font-weight: 400;
	src: url('../assets/fonts/founders-grotesk-web-regular.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/founders-grotesk-web-regular.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('../assets/fonts/founders-grotesk-web-regular.woff')
			format('woff'); /* Pretty Modern Browsers */
	font-display: swap;
}

@font-face {
	font-family: 'Founders Grotesk';
	font-weight: 500;
	src: url('../assets/fonts/founders-grotesk-web-medium.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/founders-grotesk-web-medium.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('../assets/fonts/founders-grotesk-web-medium.woff')
			format('woff'); /* Pretty Modern Browsers */
	font-display: swap;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font: 112.5%/1.45em sans-serif;
	box-sizing: border-box;
	overflow-y: scroll;
}
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: normal;
	word-wrap: break-word;
	font-kerning: normal;
	-moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
	-ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
	-webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
	font-feature-settings: 'kern', 'liga', 'clig', 'calt';
	background: #1c1c1c;
}

body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Founders Grotesk', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Founders Grotesk Condensed', sans-serif !important;
	color: #f7f7df;
	text-transform: uppercase;
}

::selection {
	background: #31312d;
}

img {
	border-radius: 0.33rem;
}

@media (max-width: 280px) {
	.homepage-buttons {
		grid-template-columns: 1fr;
	}

	.homepage-buttons :first-child {
		margin-bottom: 0.33rem;
	}
}
