@font-face {
	font-family: 'Founders Grotesk Condensed';
	font-weight: 700;
	src: url('../assets/fonts/founders-grotesk-condensed-web-bold.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/founders-grotesk-condensed-web-bold.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('../assets/fonts/founders-grotesk-condensed-web-bold.woff')
			format('woff'); /* Pretty Modern Browsers */
}

@font-face {
	font-family: 'Founders Grotesk';
	font-weight: 400;
	src: url('../assets/fonts/founders-grotesk-web-regular.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/founders-grotesk-web-regular.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('../assets/fonts/founders-grotesk-web-regular.woff')
			format('woff'); /* Pretty Modern Browsers */
}

@font-face {
	font-family: 'Founders Grotesk';
	font-weight: 500;
	src: url('../assets/fonts/founders-grotesk-web-medium.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/founders-grotesk-web-medium.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('../assets/fonts/founders-grotesk-web-medium.woff')
			format('woff'); /* Pretty Modern Browsers */
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font: 112.5%/1.45em georgia, serif, sans-serif;
	box-sizing: border-box;
	overflow-y: scroll;
}
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: hsla(0, 0%, 0%, 0.8);
	font-family: georgia, serif;
	font-weight: normal;
	word-wrap: break-word;
	font-kerning: normal;
	-moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
	-ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
	-webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
	font-feature-settings: 'kern', 'liga', 'clig', 'calt';
	background: #1c1c1c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Founders Grotesk Condensed';
	color: #f7f7df;
	text-transform: uppercase;
}
